<template>
    <v-app id='app-root' toolbar light>
        <v-navigation-drawer app clipped v-model="drawer">
            <v-toolbar flat>
                <v-list>
                    <v-list-tile>
                        <v-list-tile-title class="title">
                            Menu
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-toolbar>
            <v-divider></v-divider>
            <v-list dense class="pt-0">
                <v-list-tile v-for="item in items" :key="item.title" :to="item.to">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app color="primary">
            <v-toolbar-side-icon class="white--text" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title class="white--text">
                    <router-link class="white--text" to="home">Fulfilment</router-link></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn class="white--text" flat>Sign Out</v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <v-content>
            <v-container>
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer color="primary" app>
            <span class="white--text pl-4" >&copy; 2018 Epic Software Solutions Ltd</span>
        </v-footer>
    </v-app>
</template>

<script src="./app.ts"></script>

<style>
        a {
            text-decoration: none;
        }
    </style>